# Object files
*.o

# Libraries
*.lib
*.a
*.libs

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

# Swig output
*.java
*.class
*_wrap.cxx

# Dumps
*core*

# Backups
*\~
build/

# documentations
docs/api/
doc/rtd/_build/
